main {
	margin: 0 auto;
	width: 70%;
	font-size: 1.6rem;
}

form > p {
	margin-top: 40px;
}

#testinfo {
	margin-top: 20px;
}

#time-message {
	color: red;
}

.btn-style {
	border : solid 2px #cccccc;
	border-radius : 8px;
	box-shadow : 0px 0px 5px rgba(0,0,0,1.0);
	font-size : 30px;
	color : #f3f5f0;
	padding : 1px 10px;
	background : #454a44;
	background : linear-gradient(#454a44 0%, #a7b2ba 100%);
	margin-top: 20px;
}

.btn-style:hover {
	background: green;

}
